.game-tab {
  margin: auto;
  width: 100%;
}

.mat-progress-bar:hover {
  height: 40px;
}

.title-span {
  font-size: 100px;
  display: block;
}

.publisher-span {
  font-size: 50px;
  display: block;
  margin-left: 5px;
}

.game-image {
  width: 250px;
}

.title-sub-title-container {
  display: inline-block;
  position: absolute;
  margin-left: 10px;
}
