<div *ngIf="game" class="dashboard">
  <img class="game-image" src="{{game.image.original_url}}">
  <div class="title-sub-title-container">
    <span class="title-span">{{game.name}}</span>
    <span class="publisher-span" *ngFor="let publisher of game.publishers">{{publisher.name}}</span>
    <span class="release-date-span">{{game.releaseDate}}</span>
  </div>
</div>

<app-game-rating-bar></app-game-rating-bar>

<div class="game-tab">
  <mat-tab-group mat-stretch-tabs>
    <mat-tab label="Overview"> Content 3 </mat-tab>
    <mat-tab label="Review"> Content 1 </mat-tab>
    <mat-tab label="News"> Content 2 </mat-tab>
    <mat-tab label="Images"> Content 3 </mat-tab>
    <mat-tab label="Videos"> Content 3 </mat-tab>
    <mat-tab label="Forum"> Content 3 </mat-tab>
  </mat-tab-group>
</div>
