.mat-grid-list {
    margin: 10px 5px 10px 5px;
}

.mat-card {
    margin: 10px;
    padding: 10px;
}

.card-container {
    width: 100%;
}

.game-image {
    width: 100%;
}

.mat-card-title {
    height: 2.2em;
    line-height: 1.1em;
    overflow: hidden;
    font-size: 16px;
}

.mat-card-subtitle {
    font-size: 12px;
}

.mat-card {
    margin-left: 5px;
    margin-right: 5px;
}

.mat-card > .mat-card-actions:last-child {
    margin: 0px 0px 0px 0px;
}

.quick-button {
   width: 50%;
   display: inline-block;
}