<mat-grid-list cols="8" rowHeight="415px">
  <mat-grid-tile colspan="1" rowspan="1" [style.background]="'gray'"
    *ngFor="let game of gamesByPlatform">
    <div class="card-container">
      <mat-card>
        <mat-card-title>{{game.title}}</mat-card-title>
        <mat-card-subtitle>{{game.publisher}}</mat-card-subtitle>
        <img class="game-image" src="../../assets/images/resident_evil_2.jpg">
        <mat-card-actions>
          <button class="quick-button" mat-stroked-button>+ Follow</button>
          <button class="quick-button" mat-stroked-button (click)="openDialog(game)">9.8</button>
        </mat-card-actions>
      </mat-card>
  </div>
  </mat-grid-tile>
</mat-grid-list>