<mat-grid-list cols="8" rowHeight="428px">
  <mat-grid-tile colspan="1" rowspan="1" [style.background]="'lightgray'"
    *ngFor="let game of gamesByPlatform">
    <div class="card-container">
      <mat-card>
        <a routerLink='/game/{{game.id}}'>
          <mat-card-title>{{game.name}}</mat-card-title>
          <mat-card-subtitle>{{game.publisher}}</mat-card-subtitle>
          <img class="game-image" src="../../assets/images/resident_evil_2.jpg">
        </a>
        <mat-card-actions>
          <button class="quick-button" mat-stroked-button>+ Follow</button>
          <button class="quick-button" mat-stroked-button (click)="openDialog(game)">{{game.score}}</button>
        </mat-card-actions>
      </mat-card>
  </div>
  </mat-grid-tile>
</mat-grid-list>
