.images {
  margin: 10px auto 10px auto;
  width: 50vw;
  display: block;
}

.image-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.images-container {
  text-align: center;
}

.test-image {
  width: calc(100vw/8);
  height: 240px;
  padding: 5px;
  border-radius: 8px;
}
