.game-image {
  width: 250px;
  margin: 10px 0px 10px 10px;
  box-shadow: 0px 3px 5px grey;
  display: inline-block;
}

.title-sub-title-container {
  display: inline-block;
  margin-left: 10px;
  margin-bottom: 10px;
  vertical-align: top;
}

.title-span {
  font-size: 100px;
  display: block;
}

.publisher-container {
  display: inline-block;
  margin-bottom: 5px;
}

.publisher-span {
  font-size: 30px;
  margin-left: 5px;
}

.release-date-span {
  font-size: 25px;
  margin-left: 5px;
}

.platform-container {
  margin-bottom: 5px;
}

.platform-span {
  font-size: 25px;
  margin-left: 5px;
}

.genre-container {
  margin-bottom: 0;
}

.genre-span {
  font-size: 20px;
  margin-bottom: 5px;
}

.release-date-container {
  margin-bottom: 5px;
}
