<div class="form-container">
  <form class="example-form">
    <div class="signup-title-container">
      <span class="signup-title">Create Account</span>
    </div>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="First Name" value="">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Last Name" value="">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Email" value="">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Password" value="">
    </mat-form-field>
    <div class="signup-button">
      <button mat-button>Sign Up</button>
    </div>
</form>
</div>
