  <div class="component-wrapper">
    <div class="component-label-wrapper">
      <span>Graphics</span>
    </div>
    <div class="component-slider-wrapper">
      <mat-slider #graphics
        thumbLabel
        tickInterval="0.5"
        step="0.1"
        min="1"
        max="10">
      </mat-slider>
    </div>
  </div>
  <div class="component-wrapper">
    <div class="component-label-wrapper">
      <span>Gameplay</span>
    </div>
    <div class="component-slider-wrapper">
      <mat-slider #gameplay
        thumbLabel
        tickInterval="0.5"
        step="0.1"
        min="1"
        max="10">
      </mat-slider>
    </div>
  </div>
  <div class="component-wrapper">
    <div class="component-label-wrapper">
      <span>Sound</span>
    </div>
    <div class="component-slider-wrapper">
      <mat-slider #sound
        thumbLabel
        tickInterval="0.5"
        step="0.1"
        min="1"
        max="10">
      </mat-slider>
    </div>
  </div>
<div class="button-wrapper">
  <div class="cancel-button-wrapper">
    <button (click)="dialogRef.close()" mat-stroked-button>Cancel</button>
  </div>
  <div class="rate-button-wrapper">
    <button (click)="rate(graphics.value, gameplay.value, sound.value)" mat-stroked-button>Rate</button>
  </div>
</div>