.component-wrapper {
    display: inline-block;
    width: 100%;
}

.component-slider-wrapper {
    display: inline-block;
    width: 75%;
}

.component-label-wrapper {
    display: inline-block;
    width: 25%;
}

.rate-button-wrapper {
    width: 100%;
    align-content: center;
}

.mat-stroked-button {
    width: 100%;
}

.mat-slider {
    width: 100%;
}

.button-wrapper {
    width: 100%;
}

.cancel-button-wrapper {
    display: inline-block;
    width: 50%;
}

.rate-button-wrapper {
    display: inline-block;
    width: 50%;
}